body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #36454F;
}

.container {
    display: flex;
    gap: 20px;
}
@font-face {
    font-family: "Bakso Sapi";
    src: url(BaksoSapi.otf);
}
h1 {
    font-family: "Bakso Sapi", sans-serif;
    color: #FF7F50;
    font-size: 40px;
    text-shadow: 10px 10px 0px rgb(0, 0, 0);
}

.board{
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    flex-direction: row;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    box-shadow: 10px 10px 0px;
    background-color: #FFFFF0;
}

.square {
    flex-grow: 1;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
}

.sliderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 200px;
    height: 6px;
    background-color: #FFFFF0;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
}

.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 20px;
    cursor: pointer;
    background-color: black;
    border-radius: 10px;
}

.sliderContainer, button {
    border-color: black;
    border-radius: 20px;
    border-style: solid;
    border-width: 3px;
    box-shadow: 10px 10px 0px;
    background-color: #FFFFF0;
}

@font-face {
    font-family: "Mermaid";
    src: url(Mermaid1001.ttf);
}

h2, h3, button {
    font-family: "Mermaid";
}

button {
    height: 40px;
    font-size: 15px;
    cursor: pointer;
}

.brushes {
    display: flex;
    gap: 20px;
}
.erase, .rainbow {
    flex-grow: 1;
}